<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header id="page-header" class="index-page">
        <div id="top-ribbon">
            <div class="container">
                <div id="logo-place"></div>
                <nav id="top-menu">
                    <a href="/" class="top-menu-item">Главная</a>
                    <a href="/products/" class="top-menu-item active">Каталог</a>
                    <a href="/contacts/" class="top-menu-item">Контакты</a>
                </nav>
            </div>
        </div>
        <div class="container">
            <h1>Рога и Копыта</h1>
            <p class="quotes">Финансовая пропасть – самая глубокая из всех пропастей, в нее можно падать всю жизнь.</p>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Каталог товаров</h2>
            <div class="grid">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <aside id="categories">
                        <h3>Категории</h3>
                        <ul>
                            <li><a href="#">Все товары</a></li>
                            <li><a href="#">Спортивный инвентарь</a></li>
                            <li><a href="#">Средства индивидуальной защиты</a></li>
                            <li><a href="#">Товары для творчества</a></li>
                            <li><a href="#">Канцелярские товары</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                    <div class="grid">
                        <div class="col-12 col-md-6 col-lg-4">
                            <section class="product-box">
                                <figure class="productpic"><img src="/static/img/kettlebell.jpg" alt="Гиря"></figure>
                                <h4>Гири тов.Корейко</h4>
                                <p class="description">Гири чугунные полуторапудовые.</p>
                                <div class="feedback">
                                    <figure class="userpic"></figure>
                                    <p class="quotes">Я стоял перед этими гирями и бешено хохотал.</p>
                                </div>
                                <button class="icon-shopping-bag">Купить</button>
                            </section>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <section class="product-box">
                                <figure class="productpic">картинка</figure>
                                <h4>Противогаз гражданский</h4>
                                <p class="description">Противогаз для применения во время учений по гражданской обороне.</p>
                                <div class="feedback">
                                    <figure class="userpic"></figure>
                                    <p class="quotes">Товарищ Корейко, перестаньте шутить шутки.</p>
                                </div>
                                <button class="icon-shopping-bag">Купить</button>
                            </section>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <section class="product-box">
                                <figure class="productpic">картинка</figure>
                                <h4>Торжественный комплект</h4>
                                <p class="description">Незаменимое пособие для сочинения юбилейных статей, табельных фельетонов, а также парадных стихотворений, од и тропарей</p>
                                <div class="feedback">
                                    <figure class="userpic"></figure>
                                    <p class="quotes">Запятые ставить перед &quot;что&quot;, &quot;который&quot; и &quot;если&quot;. Точку с запятой - перед &quot;но&quot;. Многоточия, восклиц. знаки и кавычки - где только возможно.</p>
                                </div>
                                <button class="icon-shopping-bag">Купить</button>
                            </section>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <section class="product-box">
                                <figure class="productpic">картинка</figure>
                                <h4>Машинка с турецким акцентом</h4>
                                <p class="description">Старая пишущая машинка &quot;Адлер&quot;, в которой не хватает буквы &quot;е&quot;, и ее приходится заменять буквой &quot;э&quot;.</p>
                                <div class="feedback">
                                    <figure class="userpic"></figure>
                                    <p class="quotes">Значит, я начальник отдэлэния? Свинья вы, Шура, после этого!</p>
                                </div>
                                <button class="icon-shopping-bag">Купить</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="page-footer">
        <div class="container">
            <div class="grid">
                <div class="col-12 col-md-6 order-md-2" id="terms-conditions"><a href="#">Термины и определения</a></div>
                <div class="col-12 col-md-6 order-md-1" id="copyleft">&copy;&#160;Все права нарушены</div>
            </div>
        </div>
    </footer>
</body>
</html>